.App {
  text-align: center;
}

.App-logo {
  max-width: 20%;
  height: auto
}

.App-header {
  background-color: #832EBF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  background: rgba(255, 255, 255, .75);
  min-height: 100vh;
  
}
